<!DOCTYPE html>
<html class="h-full" data-kt-theme="true" data-kt-theme-mode="light" dir="ltr" lang="en">
<head>
    <%= render 'layouts/partials/head' %>
</head>
<body class="antialiased flex h-full text-base text-foreground bg-background [--header-height:100px] data-[kt-sticky-header=on]:[--header-height:60px]">
    <%= render 'layouts/partials/theme-mode' %>

    <!-- Main -->
	<div class="flex grow flex-col in-data-[kt-sticky-header=on]:pt-(--header-height)">
		<!-- Header -->
		<%= render 'layouts/demo2/partials/header' %>

		<!-- Navbar -->
		<%= render 'layouts/demo2/partials/navbar' %>

		<!-- Toolbar -->
		<%= render 'layouts/demo2/partials/toolbar' %>

		<!-- Content -->
		<main class="grow" id="content" role="content">
			<%= yield %>
		</main>

		<!-- Footer -->
		<%= render 'layouts/demo2/partials/footer' %>
    </div>

    <%= render 'layouts/partials/scripts' %>
</body>
</html>
